* {
    margin: 0;
    padding: 0; 
    font-family: "League Spartan", sans-serif;
    box-sizing: border-box;
}


:root {
    --dark-magenta: hsl(300, 43%, 22%);
    --pink: hsl(333, 80%, 67%);
    --madium-magenta: hsl(303, 10%, 53%);
    --light-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);

}
  