* {
    margin: 0;
    padding: 0; 
    font-family: "League Spartan", sans-serif;
    box-sizing: border-box;
}


:root {
    --dark-magenta: hsl(300, 43%, 22%);
    --pink: hsl(333, 80%, 67%);
    --madium-magenta: hsl(303, 10%, 53%);
    --light-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);

}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
  
#reviews-home {
    width: 65%;
    padding: 20px;
}

.reviews-text {
    display: flex;
    gap: 30px;
}

.reviews-text header {
    padding: 10px;
    width: 50%;
}

.reviews-text header h2 {
    font-size: 45px;
    color: var(--dark-magenta);
    margin-bottom: 20px;
}

.reviews-text header p {
    font-size: 15px;
    color: var(--dark-magenta);
}

.reviews-stars {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card-1 {
    align-self: start;
}

.card-3 {
    align-self: end;
}

.reviews-valoration {
    width: 90%;
    background-color: var(--light-magenta);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    padding: 8px;
    border-radius: 5px;

}

.reviews-valoration h3 {
    align-items: center;
    justify-content: center;
    gap: 20px;
}



